<div class="container">
  <h2><%= @cocktail.name %></h2>
  <% @cocktail.doses.each do |dose|%>
  <p><%=dose.description%>  <%=dose.ingredient.name%>
    <%= link_to "Delete", dose_path(dose), method: :delete,
      data: { confirm: "Are you sure?" }%></p>
  <%end%>
    <br>
  <%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary"%>
  <br>
  <%= link_to "Go back to main page", cocktails_path, class: "btn btn-primary"%>
</div>
